[submodule "vendor/SDL"]
	path = vendor/SDL
	url = git://github.com/eddieringle/SDL.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = git://github.com/eddieringle/SDL_image.git
[submodule "vendor/glew"]
	path = vendor/glew
	url = git://glew.git.sourceforge.net/gitroot/glew/glew
[submodule "vendor/lua"]
	path = vendor/lua
	url = git://git.uplinklabs.net/pub/scm/git/tycho/lua.git
[submodule "vendor/luajit"]
	path = vendor/luajit
	url = git://git.uplinklabs.net/pub/scm/git/tycho/luajit-2.x.git
